/* You can add global styles to this file, and also import other style files @import '^~bootstrap/dis/css/bootstrap.min.css'; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    margin: 0; 
    font-family:  'Noto Sans', sans-serif;
}
body * {
    box-sizing: border-box;

}

:root {
    /* Amarelos principais */
    --yellow-strong: #fe9600;   /* muito claro */
    --yellow-ambar: rgb(255, 239, 150);
    --yellow-light: rgb(255, 223, 70);    /* suave */
    --yellow-medium: #ffc501;   
    --purple-strong: #77477E;   /* ouro */
   
  
    /* Neutros de apoio */
    --gray-900:   rgb(20, 20, 20);
    --gray-600:   rgb(90, 90, 90);
    --gray-300:   rgb(200, 200, 200);
    --white:      rgb(255, 255, 255);
    --black:      rgb(0, 0, 0);
  }
  