
<div class="main">
    <div class="body">
        <header >
            <div class="header">
                <div class="header-content">
                    <button routerLink="/login">Login</button>
                </div>
            </div>
        </header>
            <div class="container first">
                <div class="item-cont ">
                </div>
                <div class="item-cont ">
                </div>
                <div class="item-cont ">
                </div>
            </div>
            <div class="total">
                <div class="container circle">
                    <div class="item-cont ">
                        <div class="item"></div>
                    </div>
                    <div class="item-cont ">
                        <div class="item"></div>
                    </div>
                    <div class="item-cont ">
                        <div class="item"></div>
                    </div>
                </div>
            </div>   
            <div class="container six-itens">
                <div class="item-cont ">
                     <div class="item"></div>
                </div>
                <div class="item-cont ">
                     <div class="item"></div>
                </div>
                <div class="item-cont ">
                     <div class="item"></div>
                </div>
                <div class="item-cont ">
                     <div class="item"></div>
                </div>
                <div class="item-cont ">
                     <div class="item"></div>
                </div>
                <div class="item-cont ">
                     <div class="item"></div>
                </div>
            </div> 
            <div class="total">
                <div class=" container left-important">
                    <div class="item-cont">
                        <div class="item "></div>
                    </div>
                    <div class="item-cont ">
                        <div class="item "></div>
                    </div>
                    <div class="item-cont ">
                        <div class="item "></div>
                    </div>
                </div>
            </div>    
            <div class="container right-important">
                <div class="item-cont ">
                    <div class="item "></div>
                </div>
                <div class="item-cont ">
                    <div class="item "></div>
                </div>
                <div class="item-cont ">
                    <div class="item "></div>
                </div>
            </div> 
            <div class="tot-multicolor">
                <div class="item-cont">
                </div>
            </div>
            <div class="total mult">
                <div class="multiform-left">
                    <div class="item-cont ">
                        <div class="item " ></div>
                   </div>
                </div>
                <div  class="multiform-right circle">
                    <div class="item-cont ">
                        <div class="item"></div>
                   </div>
                </div>
            </div>
        <footer>
            <div class="end">
                <div class="footer"></div>
             </div> 
        </footer>
    </div>
</div>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet"href="style/1-style-general.css">
    <link rel="stylesheet" href="style/3-style-first.css">
    <link rel="stylesheet" href="style/4-style-circle.css">
    <link rel="stylesheet" href="style/5-style-six-itens.css">
    <link rel="stylesheet" href="style/6-style-left-right-important.css">
    <link rel="stylesheet" href="style/7-style-multicolor.css">
    <link rel="stylesheet" href="style/8-style-multiform.css">
    <link rel="stylesheet" href="style/9-style-footer.css">
    <link rel="stylesheet" href="">
    <title>Desafio</title>
</head>
<main>
    <body>

    </body>
</main>
</html> -->